<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Data" version="2.2.5" targetFramework="net45" />
  <package id="IntelliFactory.Xml" version="0.6.63.95" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Diagnostics" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.FileSystems" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.StaticFiles" version="3.0.1" targetFramework="net45" />
  <package id="Mono.Cecil" version="0.9.6.1" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="WebSharper" version="3.6.6.225" targetFramework="net45" />
  <package id="WebSharper.Html" version="3.6.2.12" targetFramework="net45" />
  <package id="WebSharper.Owin" version="3.6.1.115" targetFramework="net45" />
  <package id="WebSharper.UI.Next" version="3.6.5.201" targetFramework="net45" />
</packages>